@import url("Global_Setting.css");
@import url("fonts/stylesheet.css");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
ruff {
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Museo500';
	font-family: 'linecons';
}
.container {
	width: 100% !important;
	padding: 0 50px !important;/*  border:1px solid #7cd5f8;
  border-left:1px solid #7cd5f8;
  border-right:1px solid #7cd5f8;
  border-top:0 none;
  border-bottom:0 none;*/
}
.container-fluid {
	padding: 0 20px !important;
}
/*---------------Stiky Footer Css----------------*/

html, body {
	height: 100%;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #222;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: normal;
	background: #292929;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto;
}
.background_header {
	background-color: #fff;
	float: left;
	width: 100%;
}
.background_container {
	background-color: #fff;
	float: left;
	width: 100%;
}
.sidebar_primary {
	background: #eee;
}
.copyright {
	line-height: 40px;
}
.copyright:before {
	content: "\f1f9";
	font-family: "FontAwesome";
	margin-right: 3px;
}
.logo {
	float: left;
	line-height: 135px;
}
.red{
	color:red;
}
/*--------------Header nav start---------------*/
#nav-primary {
	float: right;
}
#nav-primary ul.menu {
	margin: 0px;
	padding: 0px;
}
#nav-primary ul.menu li {
	display: block;
	float: left;
	position: relative;
}
#nav-primary ul.menu li:hover, #nav-primary ul.menu li.active {
	background-color: #f2f2f2;
}
#nav-primary ul.menu li.active a span {
	padding-bottom: 5px;
	border-bottom: 3px solid rgba(0,174,239,1);
}
#nav-primary ul.menu li a {
	color: #444;
	display: block;
	padding: 58px 11.5px 50px 11.5px;
	text-decoration: none;
	font-size: 14px;
	line-height: inherit !important;
	position: relative;
	text-decoration: none;
	text-transform: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}
#nav-primary ul.menu li a:hover {
	color: #333;
}
#nav-primary ul.menu li a span {
	padding-bottom: 0px;
	border-bottom: 3px solid rgba(0,174,239,0);
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}
#nav-primary ul.menu li:hover a span {
	padding-bottom: 5px;
	border-bottom: 3px solid rgba(0,174,239,1);
}
#nav-primary a.drop_d::after {
	content: "\f107";
	font-family: 'FontAwesome';
	display: block;
	float: right;
	height: 15px;
	margin-left: 5px;
	margin-top: 2px;
	width: 15px;
}
#nav-primary ul.menu ul {
	left: 0;
	position: absolute;
	top: 90px;
	width: 200px;
	display: none;
	z-index: 999;
	padding-top: 45px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}
#nav-primary ul.menu li:hover ul {
	display: block;
}
#nav-primary ul.menu ul li {
	width: 100%;
	padding: 0;
}
#nav-primary ul.menu ul li a {
	padding: 6px 14px;
	display: block;
	width: 100%;
	border-bottom: 1px solid #444;
	color: #aaa;
	background-color: #333;
}
#nav-primary ul.menu ul li a:hover {
	color: #fff;
	background-color: #333;
}
/*--------------Header nav end---------------*/



.togglebutton {
	display: none;
}
.togglebutton .btn-open, .togglebutton .btn-close {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: block;
	float: right;
	height: 35px;
	text-decoration: none;
	width: 35px;
	position: relative;
}
.btn-open {
	background-image: url(../images/toggle_open.png);
}
.btn-close {
	background-image: url(../images/toggle_close.png);
	background-size: 90% !important;
	background-position: center top;
}
.togglebutton .btn-open::before {
	content: "Menu";
	position: absolute;
	right: 41px;
	top: -10px;
}
#nav-primary ul.menu {
	display: block;
	float: right;
}
/*-----------Stiky header Start------------*/


.small_logo {
	display: none;
}
.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	background-color: #fff;
}
.nav .small_logo {
	display: none;
}
.sticky .small_logo {
	display: block;
	position: absolute;
	width: 170px;
	margin-top: 15px;
	left: 50px;
}
#nav-primary.sticky ul.menu li a {
	padding-top: 22px;
	padding-bottom: 12px;
}
#nav-primary.sticky {
	padding-right: 50px;
}
/*-----------Stiky header End------------*/



.header_top {
	border-bottom: 1px solid #ebebeb;
	height: 60px;
}
section.header_bottom {
    height: 155px;
}
.header_top .top_login {
	border-right: solid 1px #ebebeb;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-right: 10px;
	vertical-align: middle;
	margin-bottom: -1px;
	font-size: 13px;
	position: relative;
	z-index: 999;
	float: right;
}
.header_top a {
	color: #666;
	border-bottom: none;
	display: block;
}
.header_top .top_login:hover a, .header_top .top_login:hover a:after {
	color: #00aeef;
}
.header_top a:after {
	content: "\f107";
	font-family: 'FontAwesome';
	margin-left: 5px;
}
a.srh_icon {
	display: block;
	font-size: 0 !important;
}
a.srh_icon:after {
	font-size: 14px !important;
	content: "\f002";
	font-family: 'FontAwesome';
}
a.tog_icon {
	display: block;
	font-size: 0 !important;
}
a.tog_icon:after {
	font-size: 14px !important;
	content: "\f0c9";
	font-family: 'FontAwesome';
}
.banner_slider {
	float: left;
	width: 100%;
	overflow: hidden;
}
.banner_slider img {
	width: 100%;
}
.banner_slider {
	height: 500px;
	background-image: url(../images/temp-for-home-pg-e1473803586195.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.ands_work {
	padding: 64px 0;
	text-align: center;
}
 .content-section{
	padding:50px 
 }
.ands_work h2, .content-section h2 {
	font-size: 28px;
	line-height: 38px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	position: relative;
	padding-bottom: 20px;
	color: #0a003d !important;
	text-align: center;
}
.ands_work h2::after,.content-section h2::after {
	content: "";
	width: 30px;
	height: 3px;
	background-color: #0a003d;
	position: absolute;
	top: 45px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.ands_work p {
	font-size: 24px;
	font-family: 'Museo500';
	line-height: 1.5em;
	margin-bottom: 15px;
}
.alds_features .fur_items {
	width: 25%;
	background-color: #ccc;
	float: left;
	position: relative;
}
.alds_services {
	margin-top: 50px;
	padding-top: 52px;
	padding-bottom: 55px;
	border-top: 1px solid #ebebeb;
}
.alds_services .col-md-4 {
	text-align: center;
	min-height: 170px;
}
.alds_services .col-md-4 h4 {
	font-family: 'Museo700';
	color: #222;
	margin: 15px 0;
}
.alds_services .col-md-4 a.icon {
	font-size: 0;
	position: relative;
}
.alds_services .col-md-4 a.icon:after {
	content: "";
	font-size: 20px;
	font-family: 'linecons';
	font-size: 40px;
	color: #2A2A2A;
}
.alds_services .col-md-4:nth-child(1) a.icon:after, .alds_services .col-md-4:nth-child(4) a.icon:after, .alds_services .col-md-4:nth-child(6) a.icon:after {
	content: "\e024";
}
.alds_services .col-md-4:nth-child(2) a.icon:after, .alds_services .col-md-4:nth-child(5) a.icon:after {
	content: "\e007";
}
.alds_services .col-md-4:nth-child(3) a.icon:after {
	content: "\e013";
}
.alds_services .col-md-4 p {
	color: #444;
}
.testimonial {
	background-image: url("../images/bg-wide.jpg");
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 290px;
	margin-bottom: 30px;
	text-align: center;
}
.testimonial p {
	font-size: 20px;
	line-height: 34px;
	color: rgba(0,0,0,0.8);
	margin-top: 80px;
	padding: 0 110px;
	margin-bottom: 20px;
}
.testimonial span {
	font-size: 16px;
	color: #777;
}
ul.client_icons li {
	list-style: none;
	margin: 0;
	padding: 10px;
	float: left;
	width: 20%;
}
.ftr_top {
	position: relative;
	background-color: #ecebe9;
	color: #323436;
	text-align: center;
	vertical-align: bottom;
	font-size: 22px;
	border-bottom: solid 3px #00aeef;
	letter-spacing: 0px;
	padding: 30px 0;
}
.ftr_top::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-top: 11px solid #f9f9f9;
	top: -1px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.prov_con {
}
.prov_con span {
	position: relative;
	top: 4px;
}
.prov_con a {
	margin-left: 20px;
	padding: 20px 30px 16px;
	box-shadow: 0 3px 0 0 #007cbd;
	position: relative;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	text-align: center;
	line-height: 1.3;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	background: #00aeef;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}
.ftr_bottom {
	background: #292929;
	display: block;
	padding: 15px 0 !important;
	color: rgba(255,255,255,0.4);
	font-size: 12px;
	border-top: solid 1px rgba(255,255,255,0.06);
	-webkit-backface-visibility: hidden;
}
#footer-Primary {
	bottom: 0;
	width: 100%;
	float: left;
	background-image: url(../images/map.png);
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	padding: 70px 0 0 0;
	background-color: #222;
	-webkit-backface-visibility: hidden;
}










.ftr_mid h4 {
	color: #f4f4f4 !important;
	letter-spacing: 1.8px;
	margin-top: 0;
	margin-bottom: 70px;
	padding-bottom: 0;
	font-size: 13px;
	line-height: 23px;
	text-transform: uppercase;
	font-weight: bold;
}
.ftr_bottom p {
	color: rgba(255,255,255,0.4);
	font-size: 12px;
}
.ftr_bottom ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.ftr_bottom li a {
	color: #aaa;
	border-bottom: solid 1px rgba(255,255,255,0.07);
	padding-bottom: 2px;
}
.ftr_bottom li a:hover {
	color: #00aeef;
}
/*------login form------*/

.log_form {
	width: 250px;
	font-size: 13px;
	position: absolute;
	background: #fff;
	color: #444;
	padding: 15px;
	position: absolute;
	z-index: 9999;
	right: 0;
	margin-right: -1px;
	margin-top: 10px;
	top: 100%;
	border: solid 1px #ebebeb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	display: block;
	opacity: 1;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	-ms-transition: all .2s linear;
	transition: all .15s ease-in-out;
}
.top_login:hover .log_form {
	filter: alpha(opacity=1);
	-moz-opacity: 1;
	visibility: visible;
	-webkit-backface-visibility: visible;
	z-index: 9999;
	margin-top: -1px;
}
.log_form::before {
	position: absolute;
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	background-color: #fff;
	border: 1px solid #ebebeb;
	border-right: 0;
	border-bottom: 0;
	top: -6px;
	right: 35px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	z-index: 8;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="url"], input[type="tel"], select {
	padding: 12px 12px 10px !important;
	border: solid 1px #e3e3e3;
	color: #777;
	transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	outline: none;
	float: left;
	width: 100%;
	margin-bottom: 7px;
}
textarea{
	padding: 12px 12px 10px !important;
	border: solid 1px #e3e3e3;
	color: #777;
	background-color: rgba(0,0,0,0.05);
	transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	outline: none;
	float: left;
	width: 100%;
	margin-bottom: 7px;
}


.send_btn{
position: relative;
overflow:hidden;

}

.send_btn::before {
	content: "\f1d8";
	font-family: 'FontAwesome';
	position: absolute;
	left: 0;
	right: 0;
	top: -20px;
	color: #fff;
	font-size: 18px;
	
	-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
-o-transition: all .3s linear;
-ms-transition: all .3s linear;
transition: all .3s linear;
}

.send_btn::after {
	content: "Send Message";
	position: absolute;
	left: 0;
	right: 0;
	top: 10px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600 !important;
	letter-spacing: 1px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.send_btn:hover::before{
top: 11px;
}

.send_btn:hover::after{
top: 50px;
}







input[type="submit"], button[type="submit"]  {
	/*color: rgba(0,0,0,0);*/
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	line-height: 1.3;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	border: 0 none;
	/*background: rgba(127,140,141,0.8);
	width: 100%;*/
	padding: 15px 16px 13px !important;
	font-weight: 500;
	font-size: 12px;
}


.log_form p {
	display: inline-block;
	float: left;
	width: 100%;
	color: #777;
	font-size: 13px;
}
.log_form input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
.log_form .hb-remember-checkbox {
	width: 13px !important;
	height: 13px !important;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	position: relative;
	top: -1px;
	margin-right: 7px;
	overflow: hidden;
}
 @media screen and (-webkit-min-device-pixel-ratio:0) {


::i-block-chrome, .log_form input[type="text"] {
margin-top: 10px;
line-height: normal;
height: 40px;
}
}

.log_form input[type="submit"] {
	background: #00aeef;
	border: 0 none !important;
	color: #fff;
	cursor: pointer;
	line-height: 40px;
	padding: 0 20px;
	width: 100%;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 15px;
	font-size: 12px;
	
}


 .log_form ::-webkit-input-placeholder {
color: #777;
}
.log_form ::-moz-placeholder {
color: #777;
}
.log_form :-ms-input-placeholder {
color: #777;
}
.log_form :-moz-placeholder {
color: #777;
}
.log_form label {
	display: none;
}
/*------login form end------*/



.alds_features .fur_contain {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0);
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}
.fur_items:hover .fur_contain {
	background-color: rgba(0,0,0,0.70);
}
.search_ic {
	display: block;
	cursor: pointer;
	opacity: 0;
	font-family: "Open Sans";
	font-size: 0;
	position: absolute;
	left: 31%;
	top: 0;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}
.fur_contain:hover .search_ic {
	top: 18%;
	opacity: 1;
}
.link_ic {
	display: block;
	opacity: 0;
	font-family: "Open Sans";
	font-size: 0;
	position: absolute;
	right: 31%;
	top: 0;
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-o-transition: all .4s linear;
	-ms-transition: all .4s linear;
	transition: all .4s linear;
}
.fur_contain:hover .link_ic {
	top: 18%;
	opacity: 1;
}
.fur_contain p {
	position: absolute;
	color: #fff;
	bottom: 55px;
	left: 0;
	right: 0;
	text-align: center;
	background-color: rgba(255,255,255,0.15);
	padding: 5px 10px;
	display: table;
	margin: 0 auto;
	float: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 10px;
	opacity: 0;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}
.fur_contain:hover p {
	opacity: 1;
	font-size: 13px;
	bottom: 65px;
}
.search_ic:after, .link_ic:after {
	border-radius: 60px 60px 60px 60px;
	background-color: rgba(255,255,255,0.15);
	z-index: 2;
	content: "";
	font-family: 'FontAwesome';
	font-size: 16px;
	color: #fff;
	display: block;
	width: 55px;
	height: 55px;
	line-height: 55px;
	text-align: center;
}
.search_ic:after {
	content: "\f002";
}
.link_ic:after {
	content: "\f0c1";
}
.contact_page_btn {
	position: fixed;
	bottom: 5px;
	right: 20px;
	z-index: 9999;
}
#to-top.hb-pop-class, #contact-panel.hb-pop-class {
	opacity: 1;
	visibility: visible;
}
#to-top.hb-pop-class:hover, #contact-button:hover {
	background-color: #00aeef;
}
#to-top {
	display: block;
	position: fixed;
	text-align: center;
	right: 20px;
	bottom: 52px;
	color: #fff;
	cursor: pointer;
	z-index: 10000;
	height: 40px;
	width: 40px;
	background-color: rgba(0,0,0,0.4);
	background-repeat: no-repeat;
	background-position: center;
	transition: background-color .1s linear;
	-moz-transition: background-color .1s linear;
	-webkit-transition: background-color .1s linear;
	-o-transition: background-color .1s linear;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#to-top i {
	line-height: 40px !important;
	width: 40px !important;
	height: 40px !important;
	font-size: 16px !important;
	top: 0 !important;
	left: 0 !important;
	text-align: center !important;
	background-color: transparent !important;
	margin-top: 1px !important;
	margin-right: 0 !important;
}
.hb-moon-arrow-up-4::before {
	content: "\f062";
	font-family: 'FontAwesome';
	font-size: 14px;
	font-style: normal;
}
#contact-button {
	display: block;
	position: fixed;
	text-align: center;
	right: 20px;
	bottom: 7px;
	color: #fff;
	cursor: pointer;
	z-index: 10000;
	height: 40px;
	width: 40px;
	background-color: rgba(0,0,0,0.4);
	background-repeat: no-repeat;
	background-position: center;
	transition: background-color .1s linear;
	-moz-transition: background-color .1s linear;
	-webkit-transition: background-color .1s linear;
	-o-transition: background-color .1s linear;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hb-moon-envelop::before {
	content: "\f003";
	font-family: 'FontAwesome';
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
}
#contact-button i {
	line-height: 40px !important;
	width: 40px !important;
	height: 40px !important;
	font-size: 16px !important;
	top: 0 !important;
	left: 0 !important;
	text-align: center !important;
	background-color: transparent !important;
	margin-top: 1px !important;
}
#contact-panel {
	position: fixed;
	z-index: 10001;
	right: 20px;
	bottom: 50px;
	height: auto;
	width: 285px;
	padding: 25px;
	background: #fff;
	border: solid 1px #ebebeb;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform: matrix(1, 0, 0, 1, 0, 0);
	
	visibility:hidden;
	opacity: 0;
	

}

/*.contact_page_btn #contact-button:hover .contact_page_btn #contact-panel{
visibility: visible;
opacity: 1;
}*/


#contact-panel h4{
color:#00aeef ;
font-size: 18px;
margin-bottom: 15px;
font-family: 'Museo500';
}


#contact-panel p {
	margin-bottom: 15px;
	float: left;
	width: 100%;
	color: #444 !important;
}

#contact-panel span {
	margin-bottom: 1px;
	float: left;
	width: 100%;
	text-align: center;
}



.side_navigation {
	background-color: #1B1B1B;
	height: 100%;
	min-height: 100%;
	padding: 30px;
	 position: fixed; 
	top: 0;
	bottom: 0;
	display: none;
	right:0;
	width: 240px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index:9999;
	outline: none;
	color: rgba(255,255,255,0.6);
	-webkit-backface-visibility: hidden;
	-webkit-overflow-scrolling: touch;
	box-sizing: initial;
}

.side_navigation h4 {
	letter-spacing: 1.8px;
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 0;
	font-size: 13px;
	line-height: 23px;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	width: auto;
	font-weight: bold;
}

.side_navigation h4:after{
width: 20px;
height: 2px;
content: "";
background: #aaa;
display: block;
margin-bottom: 7px;
margin-top: 5px;
}






.side_navigation ul {
	margin: 0;
	padding: 0;
	list-style:none;
	border:1px solid rgba(255,255,255,.1);
}

.side_navigation  li{
padding: 7px 0;
display: block;
border-bottom:1px solid rgba(255,255,255,.1);
}

.side_navigation li a {
	color: #fff;
	display: block;
	width: 100%;
}
.side_navigation li a:before{
content: "\f105";
font-family: FontAwesome;
font-weight: 400;
font-style: normal;
display: block;
float: right;
text-decoration: inherit;
font-size: 14px;
}





.side_navigation  li:hover a,
.side_navigation  li.selected a{
background: rgba(150,150,150,0.05);
}


/*-----------Animation Effects Start------------*/





@keyframes title_s {
    from {font-size: 40px; opacity:0;}
    to {font-size: 28px; opacity:1;}
}
.title_s { animation-name: title_s; animation-duration: 1s;} 



@keyframes t_top {
    from {transform: translateY(100%); opacity:0;}
    to {transform: translateY(0); opacity:1;}
}
.btt{ animation-name: t_top; animation-duration: 1s; } 



@keyframes ser_animation {
    from {transform: translateY(-100%); opacity:0;}
    to {transform: translateY(0); opacity:1;}
}
.ser_animation{ animation-name: ser_animation; animation-duration: 4s; } 



@keyframes title_s2 {
    from { opacity:0;  transform: scale(1.2); }
    to { opacity:1; transform: scale(1);}
}
.title_s2 { animation-name: title_s2; animation-duration: 1s;} 




@keyframes t_top-2 {
   from {transform: translateY(100%); opacity:0;}
    to {transform: translateY(0); opacity:1;}
}
.t_top_2{ animation-name:t_top-2; animation-duration: 2s; } 



/*-----------Animation Effects End------------*/



.tog_icon_cross{
font-size: 0;
}
.tog_icon_cross:after{
content:"\f00d";
color:rgba(255,255,255,0.3);
font-family: FontAwesome;
font-weight: 400;
font-style: normal;
display: block;
float: right;
text-decoration: inherit;
font-size: 18px;
}


.full_screen_toggle {
	position: fixed;
	height: 100%;
	width: 100%;
	background:rgba(0,0,0,0.8);
	z-index: 999;
	/*display: none;*/
	
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
-o-transition: all .2s linear;
-ms-transition: all .2s linear;
transition: all .2s linear;
}


.search_background{
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	top: 0;
	left: 0;
	text-align: center;
	background: rgba(0,0,0,0.91);;
	z-index: 999;


}

.table-middle {
	display: table-cell;
	vertical-align: middle;
}
.hb-modern-search-content {
	color: #FFF !important;
	color: rgba(255,255,255,0.7);
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	max-width: 1000px;
	vertical-align: middle;
	font-size: 16px !important;
	font-weight: bold;
	padding: 0 20%;
}
.hb-modern-search-content p{
	color: #FFF !important;
font-size: 16px !important;
margin-bottom: 20px;
}


#hb-modern-search-input {
	border: none;
	outline: none;
	text-align: center;
	font-size: 48px;
	color: #FFF;
	letter-spacing: 1px;
	font-weight: bold;
	border-bottom: solid 1px #fff;
	border-bottom-color: rgba(255,255,255,0.1);
	background: none;
	background-color: transparent !important;
	padding-right: 60px !important;
}







/**************************inner pages **************************************/


.banner_inner{
	min-height:280px;
	background-image:url(../images/bg-wide.jpg);
background-repeat:no-repeat;
background-position:center -200px;
/*background-size;*/
background-attachment:fixed;

}

.banner_inner h2 {
	font-size:34px;
	line-height: 38px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	position: relative;
	padding: 10px 20px;
	color: #333 !important;
	text-align: center;
	background-color: #fff;
	display: table;
	margin: 10% auto 0 auto;
	font-family:'Museo500';
}


.left_bar {
	float: left !important;
	border-left: none;
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
	right: -1px !important;
	padding-right: 30px;
	border-right: solid 1px #ebebeb;
	width: 100%;
	padding-top: 47px;
}

.right_bar{
	padding-top: 47px;

}

.left_bar ul {
margin: 0;
padding: 0;
}

.left_bar ul li{
margin: 0;
padding: 7px 0;
list-style:none;
border-top: 1px solid #e7e7e7;
}

.left_bar ul li a{
display: block;
color:#111;
}

.left_bar li a::before{
content: "\f105";
font-family: FontAwesome;
font-weight: 400;
font-style: normal;
display: block;
float: right;
text-decoration: inherit;
font-size: 14px;
}
.right_bar p{
font-size: 18px;
color:#003366;
font-family:'Museo500';
line-height:1.5;
margin-bottom: 15px;
}

.left_bar h4{
	font-family: 'Source Sans Pro', sans-serif;
letter-spacing: 1.8px;
margin-top: 0;
margin-bottom: 20px;
padding-bottom: 0;
font-size: 13px;
line-height: 23px;
text-transform: uppercase;
color: #111;
display: inline-block;
width: auto;
font-weight:bold;
}
.inner_con form .label {
    color: #111;
    font-size: 16px;
}


/******** CUSTOM *********/
.error .btt p, .error .title_s, .error{
	color:red;
}
.success .btt p, .success .title_s,.success{
	color:00bb00;
}
.form-input-error, .form-input-error p{
	font-size: 13px;
	clear:both;
	color:red;
}

/****************provider dashboard****************************/

#provider-details{ text-align: left;}

#provider-details h3 {
    text-transform: capitalize;
    font-size: 26px;
    font-weight: bold;
    color: #0a003d !important;
    margin-bottom: 10px;
}
.profile-menu {
    margin-top: 30px;
}
.profile-menu a {
    font-size: 16px;
    padding-bottom:10px;
}
.profile-menu ul {
    padding: 0;
    list-style: none;
}
#provider-details p {
    font-size: 20px;
}
.services span:after {
    content: "|";
    padding-left: 5px;
    padding-right: 5px;
}
.services span:last-child:after {
    content: "";
}
.services span {
    font-size: 16px;
        text-transform: capitalize;
}
.profile_img img {
    width: 180px;
    height: 140px;
    margin-bottom: 10px;
}
div#top_move p {
    border-bottom: 1px solid;
    margin-bottom: 30px;
}
#provider-details .services {
    margin-bottom: 30px;
}
#provider-details select {
    width: 100%;
}

/*****************sign up page ******************/
.social-login {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.social-login a {
    color: #fff;
    background-repeat: no-repeat;
    padding: 7px 20px 7px 50px;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
}
.social-login a:first-child {
    background-color: rgb(221,75,56);
    background-image: url(../images/google.png);
}
.social-login a:nth-child(2) {
    background-color: rgb(57,86,153);
    background-image: url(../images/facebook-button-icon.png);
}
.social-login a:last-child{
    background-color: rgb(35,192,243);
    background-image: url(../images/twitter-button-icon.png);
}
.t-middle-line {
    background-color: #E0D5C8;
    height: 1px;
    margin: 15px 0;
}
.login-big-or-circle {
    width: 51px;
    height: 51px;
    background-image: url(../images/login-big-or.png);
    position: relative;
}
.horizontal-or .login-big-or-circle {
    bottom: 25px;
    left: 45%;
}
.l-login-padding.login-big-or.horizontal-or {
    clear: both;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.sign-up div#top_move .col-sm-6 > h3 {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    font-weight: bold;
}
.sign-up .col-sm-6 {
    border: 1px solid #cdcdcd;
    padding: 30px;
    /* border-right: none; */
    margin-top: 30px;
}
.sign-up .col-sm-6:nth-child(2) {
     border-left: none;
         background: #f8f7f1;
}
.sign-up #top_move form#frm-top-login input[type="submit"] {
    margin-top: 20px;
    padding: 5px 30px;
    font-size: 18px;
    border-radius: 0;
    background: #337ab7;
    color: #fff;
    border: none;
    font-weight: bold;
}

